.page404 {
    height: 100vh;
    margin: 0;
    background-color: #180202;
    color: #dfcf77;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link {
    color: #dfcf77;
}